<div class="container mt-5 pt-5 text-center">
  <h1 class="text-danger">Acceso Denegado</h1>
  <p class="lead">{{message}}</p>
  <a href="/login" class="btn btn-primary mt-3">Iniciar Sesión</a>
</div>
